@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: "Rubik";
  src: url(../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

:root {
  --primary-font-family: "Rubik";
  --secondary-font-family: "Roboto";
  --primary-text-color: #161c2d;
  --primary-backgroundcolor: #ffffff;
  --secondary-bacgroundcolor: #f4f7fa;
  --third-backgroundcolor: #161c2d;
  --namecolor-primary: #161c2d;
  --background-color: #f4f7fa;
  --border-color: #e7e9ed;
  --btn-color: #473bf0;
  --home-color: #68d5851a;
}
