.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--home-color);
    padding-top: 21px;
}

.nav-left {
    display: flex;
    justify-content: center;
    margin-left: 251px;
}

.nav-left h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.16px;
    color: var(--namecolor-primary);
}



.nav-center nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.nav-center nav ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: center;
    color: var(--namecolor-primary);
    transition: color 0.3s;
}

.nav-center nav ul li:first-child a {
    color: #FB6D45;
}

.nav-center nav ul li a:hover {
    color: #fb6d45;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 194px;
}

.navbar {
    display: flex;
    gap: 45px;
}

.navbar a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: right;
    color: var(--namecolor-primary);
    transition: color 0.3s;
}

.navbar a:hover {
    color: #FB6D45;
}








.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    background-color: var(--home-color);
}

.hero-content {
    margin-top: 175px;
    margin-left: 354px;
    margin-bottom: 130px;
    padding-right: 150px;
    max-width: 450px;
}

/* .hero-content {
    margin-top: 175px;
    margin-bottom: 130px;
    max-width: 500px;
    padding: 0 20px;
} */

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2px;
    color: var(--namecolor-primary);
    margin-bottom: 21px;
    white-space: normal;
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--namecolor-secondary);
    margin-bottom: 40px;
    white-space: normal;
}

.hero-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
}